@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.navigation-list {
  list-style: none;
}

.navigation-user {
  list-style: none;
}

.navigation-user-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.notification-badge {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
}

.button-brown {
  background-color: #756157;
}

/* Hero */

.hero {
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/hero-divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

/* Advantages */

.advantages-list {
  list-style: none;
}

.slogan-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.slogan-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantage-item {
  text-align: center;
}

.advantage-item:nth-child(even) {
  background-color: rgb(131, 179, 211, 0.12);
}

.advantage-item:nth-child(odd) {
  background-color: rgb(131, 179, 211, 0.2);
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-description {
  color: #333333;
}

.advantages-description {
  color: #333333;
}

.advantage-item.advantages-item-wide {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-wide .advantages-description {
  color: #ffffff;
}

/* Infrastructure */
.infrastructure-list {
  list-style: none;
}

.infrastructure-item:nth-child(odd) {
  background-color: rgb(131, 179, 211, 0.12);
}

.infrastructure-item {
  text-align: center;
}

/* Subscribe */
.subscribe {
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
}

.subscribe-background {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-description {
  color: #ffffff;

}

.subscribe-email {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
}

.subscribe-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.button-blue {
  background-color: #82B3D3;
}

/* Footer */
.footer-social-list {
  list-style: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* Catalog. Filters */

.search-wrapper {
  color: #ffffff;
  background-color: #82B3D3;

  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.filter-range-control {
  color:#000000;
  text-transform: lowercase;
}

.filter-range-label {
  opacity: 0.3;
}

.filter-range-input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
}

.catalog-filter-reset {
  background-color: transparent;
}

/* Catalog. Products */

.catalog-products-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.select-control-option {
  font-weight: 400;
  color: #333333;
}

.pagination {
  list-style: none;
}

.product-list {
  list-style: none;
}

.buttons-view {
  list-style: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-card-info {
  color: #333333;
}

.button-green {
  background-color: #7DB54F;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe-catalog {
  background-color: inherit;
}

.subscribe-title-catalog {
  color: #000000;
}
